<div class="grid-row">
    <div class="col-8">
        <div>
            <h1 class="heading-xlarge">
                Secure Access has been replaced by DfE Sign-in
            </h1>
            <p class="font-medium">DfE Sign-in is the new way to access DfE Services. You will be able to user your
                email address and a password of your choosing to access DfE services</p>
        </div>
        <div>
            <h1 class="heading-medium">Migrating your account(s) from Secure Access</h1>
            <p>For each Secure Access account that you had previously, you will need to migrate it to DfE Sign-in.</p>
            <div class="panel panel-border-wide text"><strong>You will only need to do this once per Secure Access account</strong></div>
            <p>To migrate your account:</p>
            <p>
            <ol class="list list-number">
                <li>Click Start now</li>
                <li>Select the service that you need to access</li>
                <li>Enter your Secure Access username and password and login</li>
                <li>Follow the prompts on screen</li>
            </ol>
            </p>
            <p>If you already have an DfE Sign-in account, then you may use the same email address during migration to consolidate all your Secure Access accounts into a single DfE Sign-in account</p>
        </div>
        <p><a class="button button-start" href="<%=urls.services%>">Start now</a></p>
    </div>
</div>