<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">DfE Sign-in </h1>
    </div>
</div>

<div class="grid-row">
    <div class="col-8">
        <p class="font-xsmall contents-header">Contents</p>
        <ul class="dashed">
            <li class="font-xsmall list-item">Overview</li>
            <li class="font-xsmall list-item"><a href="existing-user">I have a DfE Sign-in account</a></li>
            <li class="font-xsmall list-item"><a href="create-account">I need to create a DfE Sign-in account</a></li>
        </ul>

        <hr>
        <h2 class="heading-large">DfE Sign-in has replaced Secure Access</h2>
        <p>Secure Access services have now been moved to DfE Sign-in. Users can no longer migrate their Secure Access accounts.
            Your Secure Access username and password will no longer be active and you will need to <a href="create-account">create a DfE Sign-in account</a> to access DfE online services.</p>

        <details class="services-dropdown">
            <summary><span class="summary">Services accessed using DfE Sign-in</span></summary>
            <div class="panel panel-border-narrow">
                <p>
                    These DfE services are now accessed using your DfE Sign-in account.
                </p>
                <ol class="list list-bullet">
                    <%
                    for (let s = 0; s < services.length; s++) {
                        const service = services[s];
                    if (service.isExternalService === true) {
                    %>
                    <li><%=service.name%></li>
                    <% } %>
                    <% } %>
                </ol>
            </div>
        </details>
    </div>
</div>
