<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">DfE Sign-in </h1>
    </div>
</div>

<div class="grid-row">
    <div class="col-8">
        <p class="font-xsmall contents-header">Contents</p>
        <ul class="dashed">
            <li class="font-xsmall list-item">Overview</li>
            <li class="font-xsmall list-item"><a href="existing-user">I already have a DfE Sign-in account</a></li>
            <li class="font-xsmall list-item"><a href="existing-secure-access-user">I need to migrate my Secure Access account to DfE Sign-in</a></li>
            <li class="font-xsmall list-item"><a href="new-user">I don't have a DfE Sign-in account or a Secure Access account</a></li>
        </ul>

        <hr>
        <h2 class="heading-large">Secure Access has been replaced by DfE Sign-in</h2>
        <p>Over the last few months DfE services that are accessed via Secure Access have been moved from Secure Access to DfE Sign-in.
            During this period users of these services have had to migrate their Secure Access account to DfE Sign-in.
        </p>
        <p>The last Secure Access service has now been moved to DfE Sign-in so in the next few weeks the remaining users with Secure Access accounts need to migrate those accounts to DfE Sign-in.
            Any accounts that are not migrated in time will be archived and the user will need to go through the process of requesting a DfE Sign-in account from the approver at their organisation.</p>

    </div>
</div>
