<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">DfE Sign-in </h1>
    </div>
</div>

<div class="grid-row">
    <div class="col-8">
        <p class="font-xsmall contents-header">Contents</p>
        <ul class="dashed">
            <li class="font-xsmall list-item"><a href="/">Overview</a></li>
            <li class="font-xsmall list-item"><a href="existing-user">I have a DfE Sign-in account</a></li>
            <li class="font-xsmall list-item">I need to create a DfE Sign-in account</li>
        </ul>

        <hr>
        <h2 class="heading-large">Create a DfE Sign-in account</h2>
        <p>A DfE Sign-in account will allow you to access DfE online services. An approver at your organisation will
            need to create an account for you.</p>

        <h2 class="heading-medium">
            What is an approver?
        </h2>
        <p>An approver can create user accounts, add and remove services and update roles within organisations.</p>

        <h2 class="heading-medium">
            Find an approver
        </h2>
        <p>Approver contact details can be provided by: </p>
        <ul class="list list-bullet">
            <li>the headteacher</li>
            <li>the administration team</li>
            <li>the account manager</li>
        </ul>

        <h2 class="heading-medium">
            There are no approvers at my organisation
        </h2>
        <p>To set up the first approver at your organisation please forward an email from the head or senior individual of your organisation to,
            <a href="mailto:NewApprover.DFESIGNIN@education.gov.uk">NewApprover.DFESIGNIN@education.gov.uk</a>.</p>


        <p>Please ensure the following information is detailed in the email.</p>

        <ul class="list list-bullet" style="margin-bottom: 0">
            <li>approver's name</li>
            <li>approver's email address</li>
            <li>organisation name</li>
            <li>organisation URN, UKPRN or DfE Number</li>
        </ul>
    </div>
</div>
