<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">DfE Sign-in </h1>
    </div>
</div>

<div class="grid-row">
    <div class="col-8">
        <p class="font-xsmall contents-header">Contents</p>
        <ul class="dashed">
            <li class="font-xsmall list-item"><a href="/">Overview</a></li>
            <li class="font-xsmall list-item">I have a DfE Sign-in account</li>
            <li class="font-xsmall list-item"><a href="create-account">I need to create a DfE Sign-in account</a></li>
        </ul>

        <hr>

        <h2 class="heading-large">Sign in to your DfE Sign-in account</h2>
        <p>You'll need your DfE Sign-in email address and password to sign in.</p>
        <p><a class="button button-start" href="<%=locals.urls.services%>/my-services">Sign in</a></p>

    </div>
</div>
