<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">DfE Sign-in</h1>
    </div>
</div>

<div class="grid-row">
    <div class="col-8">
        <p class="font-xsmall contents-header">Contents</p>
        <ul class="dashed">
            <li class="font-xsmall list-item"><a href="/">Overview</a></li>
            <li class="font-xsmall list-item"><a href="existing-user">I already have a DfE Sign-in account</a></li>
            <li class="font-xsmall list-item"><a href="existing-secure-access-user">I need to migrate my Secure Access account to DfE Sign-in</a></li>
            <li class="font-xsmall list-item">I don't have a DfE Sign-in account or a Secure Access account</li>
        </ul>

        <hr>

        <h2 class="heading-large">No DfE Sign-in account or Secure Access account</h2>
        <p>You will need to request a DfE Sign-in account from the DfE Sign-in approver at your organisation.</p>
        <p>The approver is usually the senior manger at an organisation such as the headteacher at a school or academy.</p>
        <p>To request an approver account, please submit a <a href="<%locals.urls.help%>/contact/form">service request</a>.</p>

    </div>
</div>
